# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.whl

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Project
*.md
evaluation/
evaluation score .txt
test.py

# Docker
docker-compose.yml
Dockerfile*
.dockerignore
